pkgbase = vr-video-player-gui
	pkgdesc = Native Qt6 launcher for vr-video-player
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/Evohl/vr-video-player-gui
	arch = any
	license = MIT
	depends = python
	depends = pyside6
	depends = vr-video-player
	source = vrplayer_gui.py
	source = vr-video-player-gui.desktop
	source = LICENSE
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = vr-video-player-gui
